.footerTable {
	text-align: right;
	margin: 0 0 0 auto;
}

.footerTable a {
	color: #333;
}

.footerTable a:hover {
	color: rgb(160, 159, 159);
}

.footerDiv {
	text-align: right;
	margin: 0 10% 0 auto;
}
