[submodule "packages/client"]
	path = packages/client
	url = git@github.com:ulabeler/ulabeler-frontend.git
[submodule "packages/backend"]
	path = packages/backend
	url = git@github.com:ulabeler/ulabeler-backend.git
