
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="robots" content="none,noindex,nofollow">
<meta name="description" content="ハンドメイドショップサイト">
<meta name="keywords" content="ECサイト">
<title>U labeler</title>
<link href="css/top.css" rel="stylesheet" type="text/css"></link>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="template.html"><img src="images/logo.png" alt="ロゴ"></a></h1>
    </div>

<!-- 検索ボックス -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
    </form>

</div>    


<body>

    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>


    <nav class="menu">
        <h2 href="template.html">U labelar</h2>
        <ul>
            <li><a href="my_list.html">マイ作品リスト</a></li>
            <li><a href="my_favorite_work_list.html">お気に入り作品リスト</a></li>
            <li><a href="my_favorite_creator_list1.html">お気に入り作者リスト</a></li>
            <li><a href="#">購入履歴</a></li>
            <li><a href="#">会員情報</a></li>
            <li><a href="mail_address_modification.html">メールアドレス変更</a></li>
            <li><a href="member_password_modification.html">パスワード変更</a></li>
            <li><a href="#">退会</a></li>
        </ul>
    </nav>
    
    <article>
        <br>
        <br>
    <!-- ページ名 -->
    <div class="userpage">

            <div class="user_2">
            <form action="" method="post" id="hoge">
                            <div class="user_box">
                                <table cellpadding="0"　class = "usertable">
                                    
                                    <tr>
                                        <th rowspan="4" ><p class = user_img><img src="images/use.png" alt="商品画像"></p></th>
                                        <td>　　　　　</td>
                                    </tr>
                                    <tr>    
                                        <td><p class = "username">やまだはなこ</p></td>
                                        <input type="hidden" name="">
                                        
                                    </tr>
                                    <tr>    
                                        <td><p class="userid">＠00000000</p></td>
                                        <input type="hidden" name="">
                                    </tr>
                                    <tr>
                                        <td colspan="2" class ="setumei">お花が好きなのでお花の作品が多いです。ちなみにタンポポが好きです。よろしくお願いいたします。</td>
                                        
                                    </tr>
                                    
                                    
                                </table>
                            </div>
            </form>
        </div>
    </div>
    <div class = userpage>
        <div class = "td2">
            <!-- <p class = "star"><a href=""><font color="orange">★</font></a></p> --><!-- お気に入りしいる★-->
            <p class = "star_1"><a href=""><font color="orange">☆</font></a></p><!-- お気に入りしいない☆-->
            <p class = "favorite">100</p>
        </div>
    </div>
    <br>
    <p class="senn">作品一覧<hr crass="hr3"></p>
    <br>

    <h3>このユーザーは作品を投稿していません。</h3>
        <noscript>
            <p>JavaScriptを有効にしてください。</p>
        </noscript> 

    </article>
    <br>
    <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
    <br>
    <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>
</body>

</html>
