<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="none,noindex,nofollow">
    <meta name="description" content="ハンドメイドショップサイト">
    <meta name="keywords" content="ECサイト">
    <title>U labeler</title>
    <link href="css/top.css" rel="stylesheet" type="text/css">
    </link>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="top.html"><img src="images/logo.png" alt="ロゴ"></a></h1>
    </div>

    <!-- 検索ボックス -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="headernakami">
        <table class="toptable" cellpadding="5">
            <tr>
                <th><span class="magnifying_glass"></span>
                    <form method="get" action="#" class="search_container">
                        <input type="text" size="25" placeholder="キーワード検索">
                        <input type="submit" value="&#xf002">
                    </form>
                </th>
            </tr>
            <tr>
                <div class="carticon15">
                    <a href="cart.html"><img src="images/cart-5.png" alt="ロゴ"></a>
                </div>

            </tr>

        </table>
        <form action="">
            <div class="cartsuuji">
                <p>1</p>
            </div>
        </form>
    </div>


    <body>

        <input type="checkbox" id="nav1">
        <label for="nav1" class="open"><span></span></label>
        <label for="nav1" class="close"></label>


        <nav class="menu">
            <h2 href="top.html">U labelar</h2>
            <ul>
                <li><a href="my_list.html">マイ作品リスト</a></li>
                <li><a href="my_favorite_work_list.html">お気に入り作品リスト</a></li>
                <li><a href="my_favorite_creator_list1">お気に入り作者リスト</a></li>
                <li><a href="#">購入履歴</a></li>
                <li><a href="#">会員情報</a></li>
                <li><a href="mail_address_modification.html">メールアドレス変更</a></li>
                <li><a href="member_password_modification.html">パスワード変更</a></li>

            </ul>
        </nav>

        <article>

            <!-- ページタイトル -->
            <h3 class="creator_list_title">お気に入り作者リスト
                <hr>
            </h3>

            <!-- html切り替え画像 -->
            <div class="list_change">
                <a href="my_favorite_creator_list2.html"><img src="images/list1.png" class="list_change_image"
                        alt="リスト切り替え"></a>
            </div>

            <!-- リストa   やま5人数分複製-->
            <div class="creator_box_list1">
                <!-- 作者ページのリンク やまよろしく-->
                <a href="">
                    <table>
                        <td>
                            <!-- ユーザー詳細 -->
                            <div class="favorite_creator_detail">
                                <!-- アイコン -->
                                <div class="creator_icon_area">
                                    <img src="images/use.png" class="creator_icon_image" alt="クリエイターアイコン">
                                </div>
                                <!-- ユーザーネーム -->
                                <p class="favorite_creator_name_id">ユーザーネーム</p>
                                <!-- ユーザーID -->
                                <p class="favorite_creator_name_id">ユーザーID</p>
                            </div>
                        </td>
                        <td>
                            <!-- 自己紹介文 -->
                            <div class="favorite_creator_txt">
                                <p>よろしくお願いします。</p>
                            </div>
                        </td>
                    </table>
                </a>
            </div>
            <hr class="favorite_creator_Separation">

            <div class="creator_box_list1">
                <!-- 作者ページのリンク やまよろしく-->
                <a href="">
                    <table>
                        <td>
                            <!-- ユーザー詳細 -->
                            <div class="favorite_creator_detail">
                                <!-- アイコン -->
                                <div class="creator_icon_area">
                                    <img src="images/use.png" class="creator_icon_image" alt="クリエイターアイコン">
                                </div>
                                <!-- ユーザーネーム -->
                                <p class="favorite_creator_name_id">ユーザーネーム</p>
                                <!-- ユーザーID -->
                                <p class="favorite_creator_name_id">ユーザーID</p>
                            </div>
                        </td>
                        <td>
                            <!-- 自己紹介文 -->
                            <div class="favorite_creator_txt">
                                <p>よろしくお願いします。</p>
                            </div>
                        </td>
                    </table>
                </a>
            </div>
            <hr class="favorite_creator_Separation">

            <div class="creator_box_list1">
                <!-- 作者ページのリンク やまよろしく-->
                <a href="">
                    <table>
                        <td>
                            <!-- ユーザー詳細 -->
                            <div class="favorite_creator_detail">
                                <!-- アイコン -->
                                <div class="creator_icon_area">
                                    <img src="images/use.png" class="creator_icon_image" alt="クリエイターアイコン">
                                </div>
                                <!-- ユーザーネーム -->
                                <p class="favorite_creator_name_id">ユーザーネーム</p>
                                <!-- ユーザーID -->
                                <p class="favorite_creator_name_id">ユーザーID</p>
                            </div>
                        </td>
                        <td>
                            <!-- 自己紹介文 -->
                            <div class="favorite_creator_txt">
                                <p>よろしくお願いします。</p>
                            </div>
                        </td>
                    </table>
                </a>
            </div>
            <hr class="favorite_creator_Separation">


            <!-- ページネーション やまページネーションだるそう。。。-->
            <div class="pagination">
                <ul class="example">
                    <li><a href="#">前へ</a></li>
                    <!--2ページ以降-->
                    <li class="pagination_nau">1</li><!-- 現在ページはaタグじゃなくて直書きクラス -->
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">次へ</a></li>
                </ul>
            </div>




            <noscript>
                <p>JavaScriptを有効にしてください。</p>
            </noscript>
        </article>
        <br>
        <footer>
            <br>
            <br>
            <div class="footer_text1">
                <table class="footer_text">

                    <tr>
                        <td>
                            <p><a href="faq.html">よくある質問　</a></p>
                        </td>
                        <td>
                            <p><a href="privacy_policy.html">プライバシーポリシー　</a></p>
                        </td>
                        <td>
                            <p><a href="site_policy.html">サイトポリシー</a></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>

            <br>
            <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>

        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
        <script>
            bubbly({
                blur: 5,
                bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.1})`,
                canvas: document.querySelector("#back"),
                colorStart: '#fff',
                colorStop: '#fff',
                compose: 'source-over',
                shadowColor: '#ffffef',
                velocityFunc: () => Math.random() * 1.4,
                radiusFunc: () => 3 + Math.random() * 20,
            });
        </script>
        </script>
    </body>

</html>