<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="none,noindex,nofollow">
  <meta name="description" content="ハンドメイドショップサイト">
  <meta name="keywords" content="ECサイト">
  <title>素体選択２</title>

  <link rel="stylesheet" href="/stylesheets/jquery.skippr.css">
  <link href="/stylesheets/top.css" rel="stylesheet" type="text/css"></link>

</head>
<header class="header">

  <div class="header_logo">
    <h1><a href="/"><img src="/images/system/logo.png" alt="ロゴ"></a></h1>
  </div>

<!-- 検索ボックス -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
      <input type="text" size="25" placeholder="キーワード検索">
      <input type="submit" value="&#xf002">
    </form>

  </div>


  <body>
    <noscript>
      <p>JavaScriptを有効にしてください</p>
    </noscript>
    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>


    <nav class="menu">
      <h2 href="/">U labelar</h2>
      <ul>
        <li><a href="#">マイ作品リスト</a></li>
        <li><a href="#">お気に入り作品リスト</a></li>
        <li><a href="#">お気に入り作者リスト</a></li>
        <li><a href="#">購入履歴</a></li>
        <li><a href="#">会員情報</a></li>
        <li><a href="#">メールアドレス変更</a></li>
        <li><a href="#">パスワード変更</a></li>
        <li><a href="#">退会</a></li>
      </ul>
    </nav>
    
    <article>
      <!-- パンくずリスト -->
  <div class="pan">
    <h5>素体選択 ＞ カラー選択 ＞ カスタマイズ ＞ 作品設定 ＞ 作品設定確認</h5>
  </div>

  <!-- ページ名 -->
  <h2>カラー選択</h2><hr>

  <!-- ページサブ名 -->

    <!-- 画像 -->
<div class="img_area">
  <img src="/images/system/color.jpeg" alt="素体画像">
</div>


<!-- 素体名 -->
<div class = "object">

<div class="object_name">
  <p><%= category %></p>
</div>


<form action="/create/customize_editing" method="post">
  <!-- <form action="/create/work_settings" method="post"> -->
<div class = "color">
<input type="color" id="head" name="color"value="#ffffff">
</div>
</div>
<!-- ボタン -->
<br>
<br>
<div class = bottom>
  <section>
      <div class = "back">
        <button><a href="/create/select_object">戻る</a></button>
      </div>
    
    

      <div class = "select">
        <button>決定</button>
      </div>
    </form>
    
  </section>

      </div>
      <br>
    </article>
    <br>
    <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
    <br>
    <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>
  </body>
  
  </html>
