<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>素体選択</title>
</head>
<body>
<!-- タイトル -->
<div>
<h2>素体選択</h2>
<hr>
</div>

    <% for( let index = 0; index < name_category.length; index++ ) { %>
            <div class="item">
                <h4><%= name_category[index] %></h4>
                <img src="*" alt=" <%=name_category[index] %> ">
                <%# GETで渡すやつ%>
                <% //let url_category = encodeURI(name_category[index]) %>
                <!--<a href="/create/select_object_sub?category=<%=//url_category%>">選択</a>-->

                <form action="/create/select_object_sub" method="post">
                    <input type="hidden" name="category" value="<%=name_category[index]%>">
                    <input type="submit" value="素体を選択する">
                </form>

            </div>
        <% } %>
</div>


</body>
</html>