<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="none,noindex,nofollow">
    <meta name="description" content="ハンドメイドショップサイト">
    <meta name="keywords" content="ECサイト">
    <title>素体選択</title>

    <link href="/stylesheets/top.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/top.css" rel="stylesheet" type="text/css">
    </link>
</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="/"><img src="/images/system/logo.png" alt="ロゴ"></a></h1>
    </div>

    <!-- 検索ボックス -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
    </form>

    <body>
        <noscript>
            <p>JavaScriptを有効にしてください</p>
        </noscript>

        <input type="checkbox" id="nav1">
        <label for="nav1" class="open"><span></span></label>
        <label for="nav1" class="close"></label>
        <nav class="menu">
            <h2 href="#">U labelar</h2>
            <ul>
                <li><a href="#">マイ作品リスト</a></li>
                <li><a href="#">お気に入り作品リスト</a></li>
                <li><a href="#">お気に入り作者リスト</a></li>
                <li><a href="#">購入履歴</a></li>
                <li><a href="#">会員情報</a></li>
                <li><a href="#">メールアドレス変更</a></li>
                <li><a href="#">パスワード変更</a></li>
                <li><a href="#">退会</a></li>
            </ul>
        </nav>

        <article>
            <h5>素体選択 ＞ カラー選択 ＞ カスタマイズ ＞ 作品設定 ＞ 作品設定確認</h5>
            <h2>素体選択</h2>
            <hr>
            <div class="box_wrapper">
                <% for( let index=0; index < name_category.length; index++ ) { %>
                    <section class="box_item">
                        <h3>
                            <%= name_category[index] %>
                        </h3>
                        <div class="image_wrapper"><img src="/images/system/color.jpeg" alt="" /></div>
                        <form action="/create/select_object_sub" method="post">
                            <input type="hidden" name="category" value="<%=name_category[index]%>">
                            <button type="submit">選択</button>
                        </form>
                    </section>
                    <% } %>
            </div>
            </div>
        </article>

        <br>
        <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
        <br>
        <a href="/create/select_object" id="pagetop"><i class="up"></i>↑</a>
        </div>


    </body>

</html>