<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Expressを利用したfaviconの設定 -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/create/select_object">Create Core</a>
  </body>
</html>
