<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- canvasを用意 -->
    <canvas id="canvas" width="1000" height="1000"></canvas>
</body>
<script>
    //canvasの子要素としてcanvas-containerを作成
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var canvasContainer = document.createElement('div');
    canvasContainer.setAttribute('id', 'canvas-container');
    canvas.parentNode.insertBefore(canvasContainer, canvas);
    canvasContainer.appendChild(canvas);
    // canvas-containerをレイヤーとして

</script>
</html>