<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="none,noindex,nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css"></link>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>Ulabeler</title>
    <link rel="stylesheet" href="/stylesheets/pop-up.css">
    <link rel="stylesheet" href="/javascripts/jquery.js">
    <link rel="stylesheet" href="/stylesheets/konva.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Shizuru&family=Slabo+13px&family=Slabo+27px&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
        <h5 class="h5">素体選択 ＞ カラー選択 ＞<font size="5"> カスタマイズ</font> ＞ 作品設定 ＞ 作品設定確認</h5>
    </header>
    <div class="grid-area">
        <div class="parent">
            <div class="div1">
                <div>
                    <p>テキスト</p>
                    <p id="selecterp"></p>
                    <form method="post" action="" onsubmit="return form1submit()">
                        <select name="font_style" id="font_style"><br>
                            <option id="Arial" value="Arial">Arial</option>
                            <option id="Shizuru" value="Shizuru">Shizuru</option>
                            <option id="Indie Flower" value="Indie Flower">Indie Flower</option>
                            <option id="source sans pro" value="source sans pro">source sans pro</option>
                            <option id="slabo 27px" value="slabo 27px">slabo 27px</option>
                            <option id="slabo 13px" value="slabo 13px">slabo 13px</option>
                            <option id="Raleway" value="Raleway">Raleway</option>
                            <option id="PT sans" value="PT sans">PT sans</option>
                            <option id="merriweather" value="merriweather">merriweather</option>
                            <option id="EB Garamond" value="EB Garamond">EB Garamond</option>
                            <option id="Noto sons" value="Noto sons">Noto sons</option>
                            <option id="Century" value="Century">Century</option>
                            <option id="源ノ角ゴシック" value="源ノ角ゴシック">源ノ角ゴシック</option>
                            <option id="メイリオ" value="メイリオ">メイリオ</option>
                            <option id="ヒラギノ" value="ヒラギノ">ヒラギノ</option>
                            <option id="游明朝" value="游明朝">游明朝</option>
                            <option id="游ゴシック" value="游ゴシック">游ゴシック</option>
                            <option id="Roboto" value="Roboto">Roboto</option>
                            <option id="Lato" value="Lato">Lato</option>
                            <option id="Montserrat" value="Montserrat">Montserrat</option>
                            <option id="Oswald" value="Oswald">Oswald</option>
                        </select>
                        <input type="number" id="number" value="16">
                        <input type="color" id="color"><br>
                    </form>
                    <form onsubmit="return form2submit()">
                        <!-- <textarea id="message" name="message" cols="25" rows="10"></textarea> -->
                        <input type="text" name="message" id="message">
                        <input type="submit">
                    </form>
                    <button id="deletebtn">消す</button>
                </div>
            </div>
            <div class="div2">
                <p>スタンプ</p>
                <div class="stp stp1 current" >
                    <button id="stp10"><img src="/images/system/stamp/stamp10.png" alt=""></button>
                    <button id="stp11"><img src="/images/system/stamp/stamp11.png" alt=""></button>
                    <button id="stp12"><img src="/images/system/stamp/stamp12.png" alt=""></button>
                    <button id="stp13"><img src="/images/system/stamp/stamp13.png" alt=""></button>
                    <button id="stp14"><img src="/images/system/stamp/stamp14.png" alt=""></button>
                    <button id="stp15"><img src="/images/system/stamp/stamp15.png" alt=""></button>
                    <button id="stp16"><img src="/images/system/stamp/stamp16.png" alt=""></button>
                    <button id="stp17"><img src="/images/system/stamp/stamp17.png" alt=""></button>
                    <button id="stp18"><img src="/images/system/stamp/stamp18.png" alt=""></button>
                </div>
                <div class="stp stp2" >
                    <button id="stp19"><img src="/images/system/stamp/stamp19.png" alt=""></button>
                    <button id="stp20"><img src="/images/system/stamp/stamp20.png" alt=""></button>
                    <button id="stp21"><img src="/images/system/stamp/stamp21.png" alt=""></button>
                    <button id="stp23"><img src="/images/system/stamp/stamp22.png" alt=""></button>
                    <button id="stp24"><img src="/images/system/stamp/stamp23.png" alt=""></button>
                    <button id="stp25"><img src="/images/system/stamp/stamp24.png" alt=""></button>
                    <button id="stp26"><img src="/images/system/stamp/stamp25.png" alt=""></button>
                    <button id="stp27"><img src="/images/system/stamp/stamp26.png" alt=""></button>
                    <button id="stp28"><img src="/images/system/stamp/stamp27.png" alt=""></button>
                </div>
                <div class="stp stp3" >
                    <button id="stp28"><img src="/images/system/stamp/stamp28.png" alt=""></button>
                    <button id="stp29"><img src="/images/system/stamp/stamp29.png" alt=""></button>
                    <button id="stp30"><img src="/images/system/stamp/stamp30.png" alt=""></button>
                    <button id="stp31"><img src="/images/system/stamp/stamp31.png" alt=""></button>
                    <button id="stp32"><img src="/images/system/stamp/stamp32.png" alt=""></button>
                    <button id="stp33"><img src="/images/system/stamp/stamp33.png" alt=""></button>
                    <button id="stp34"><img src="/images/system/stamp/stamp34.png" alt=""></button>
                    <button id="stp35"><img src="/images/system/stamp/stamp35.png" alt=""></button>
                    <button id="stp36"><img src="/images/system/stamp/stamp36.png" alt=""></button>
                </div>
                <div class="pagenation">
                    <!-- ここの書き方分からん -->
                    <button id="page1">1</button>
                    <button id="page2">2</button>
                    <button id="page3">3</button>
                </div>
            </div>
            <div class="div3">
                <button id="" class="customize_button_syousai">
                    画像選択
                </button>
                <button id="gridbtn" class="customize_button_syousai">
                    グリッド
                </button>
                <button id="save" class="customize_button_syousai">
                    保存                
                </button>
                <!-- <form method="post" id="3D" onsubmit="btnsend1()">
                    <input type="hidden" name="finish" value="3D">
                </form> -->
                <button>
                    3DVIEW
                </button>
                <div class="">
                    <p id=""><%= object_name %></p>
                </div>
            </div>
            <div class="div4" id="view">
                <div id="container">
                </div>
            </div>
            <div class="div5">
                <div class="customise_double_button">
                    <button type="button" class="white_button">
                        <div id="js-show-popup">素体選択</div>
                    </button><!-- 購入確認画面へ -->
                    <form method="post" onsubmit="btnsend()" id="finish">
                        <input type="hidden" name="finish" value="finish">
                        <button>終了</button>
                    </form>
                </div>
                <div class="popup" id="js-popup">
                    <div class="popup-inner">
                        <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
                        <section class="box_item_3">
                            <br>
                            <h3>
                                <font color="red">素体選択</font>へ<font color="red">戻り</font>ますか？
                            </h3>
                            <br>
                            <p>カスタマイズされた内容は保存されません。</p>
                            <br>
                            <div class="double_button4">
                                <button type="button" class="white_button2"
                                        onclick="location.href='/customize/select_object'">はい</button>
                                <button type="submit" class="red_button2" form=="hoge"
                                        onclick="location.href='/customize/customize_editing'">いいえ</button>
                            </div>
                        </section>
                        <!-- 作品詳細（自分）ここまで👆 -->
                    </div>
                    <div class="black-background" id="js-black-bg"></div>
                </div>
                <script src="/javascripts/custom/pop-up.js"></script>
            </div>
        </div>
    </div>
    </div>
<script type="text/javascript" src="/javascripts/custom/konva.min.js"></script>
<script type="text/javascript" src="/javascripts/custom/konva1.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
crossorigin="anonymous"
></script>
<script type="text/javascript" src="/javascripts/custom/pagenation.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script>
    bubbly({
        blur: 5,
        bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.1})`,
        canvas: document.querySelector("#back"),
        colorStart: '#fff',
        colorStop: '#fff',
        compose: 'source-over',
        shadowColor: '#ffffef',
        velocityFunc: () => Math.random() * 1.4,
        radiusFunc: () => 3 + Math.random() * 20,
    });
</script>
</body>
</html>