<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/lightcase.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <title></title>
</head>
<body>
    
  <div class="filter_choise">
    <div class="img_area2">
      <h2>フィルター選択</h2>
      <hr>
      <br>
      
      <div class="img_area3">
        <div class="img_area4">
        <img src="images/color.jpeg" alt="">
        <hr class="hr2">
        </div>
        <div class = "filter">
        <!-- ここにスリック -->
        <div id="slider">
          <ul class="animals">
            <li><div class="photo"><a title="ねこ１"><img src="images/cat1s.jpg"></a><br><p>フィルターname1</p></div></li>
            <li><div class="photo"><a title="ねこ２"><img src="images/cat2s.jpg"></a><br><p>フィルターname2</p></div></li>
            <li><div class="photo"><a title="いぬ１"><img src="images/dog1s.jpg"></a><br><p>フィルターname3</p></div></li>
            <li><div class="photo"><a title="いぬ２"><img src="images/dog2s.jpg"></a><br><p>フィルターname4</p></div></li>
            <li><div class="photo"><a title="ねこ３"><img src="images/gao1s.jpg"></a><br><p>フィルターname5</p></div></li>
            <li><div class="photo"><a title="りす１"><img src="images/risu1s.jpg"></a><br><p>フィルターname6</p></div></li>
            <li><div class="photo"><a title="りす２"><img src="images/risu2s.jpg"></a><br><p>フィルターname7</p></div></li>
            <li><div class="photo"><a title="うさぎ１"><img src="images/usa1s.jpg"></a><br><p>フィルターname8</p></div></li>
            <li><div class="photo"><a title="うさぎ２"><img src="images/usa2s.jpg"></a><br><p>フィルターname9</p></div></li>
          </ul>
        </div>
      </div>
  </div>    
      
      <div class="bottom">
        <a href="#" class="back"><button>戻る</button></a>
        <form action="#" class= "select" method="post">
          <button>決定</button>
        </form>
      </div>
      <script type="text/javascript" src="js/slick.min.js"></script>
      <!-- スリック速度js -->
      <script src="js/slick.js"></script>
    </div>
  </div>
</body>