<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include("../components/lib.ejs") %>
    <title>U labeler</title>
</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
    </div>

    <!-- 検索ボックス -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="headernakami">
        <table class="toptable" cellpadding="5">
            <tr>
                <th><span class="magnifying_glass"></span>
                    <form method="get" action="#" class="search_container">
                        <input type="text" size="25" placeholder="キーワード検索">
                        <input type="submit" value="&#xf002">
                    </form>
                </th>
            </tr>
            <tr>
                <div class="carticon15">
                    <a href="cart.html"><img src="/images/system/cart-5.png" alt="ロゴ"></a>
                </div>

            </tr>

        </table>
        <form action="">
            <div class="cartsuuji">
                <p id="currentKeepCartNum"></p>
            </div>
        </form>
    </div>

    <body>

        <input type="checkbox" id="nav1">
        <label for="nav1" class="open"><span></span></label>
        <label for="nav1" class="close"></label>
        <nav class="menu">
            <h2 href="top.html">U labelar</h2>
            <ul>
                <li><a href="my_list.html">マイ作品リスト</a></li>
                <li><a href="my_favorite_work_list.html">お気に入り作品リスト</a></li>
                <li><a href="my_favorite_creator_list1">お気に入り作者リスト</a></li>
                <li><a href="#">購入履歴</a></li>
                <li><a href="#">会員情報</a></li>
                <li><a href="mail_address_modification.html">メールアドレス変更</a></li>
                <li><a href="member_password_modification.html">パスワード変更</a></li>

            </ul>
        </nav>
        <article>
            <div class="footerFixed"></div>
                <br>
                <br>

                <!-- ページ名 -->
                <h3 class="h3_center2">お問い合わせ
                    <hr>
                </h3>

                <section class="box_item_4">

                    <div class=userpage>
                        <!-- </div>
                    <p class = "date1">2022/02/02</p>
                    <div class="image_wrapper"><img src="images/color.jpeg"  alt="" /></div> -->
                        <form action="select_color.html" method="post">

                            <br>
                            <table class="setumeitable2">
                                <tr>
                                    <th>お名前　　　　　　：</th>
                                    <!--空白いじらないで -->
                                    <th>
                                        <p>やまだたろう</p>
                                    </th>

                                </tr>

                                <tr>
                                    <th>ユーザーⅠⅮ　 　　：</th>
                                    <th>
                                        <p>00000001</p>
                                    </th>

                                </tr>

                                <tr>
                                    <th>メールアドレス　　：</th>
                                    <th>
                                        <p>@example.co.jp</p>
                                    </th>

                                </tr>



                                <tr>
                                    <th class="otoiawase">お問い合わせ項目 <font color="red">*</font>：</th>
                                    <th>
                                        <select class="toiawase_select">
                                            <option value="" selected>カスタマイズについて</option>
                                            <option value="1">個人情報について</option>
                                            <option value="2">配送について</option>
                                            <option value="3">購入について</option>
                                            <option value="4">商品について</option>
                                            <option value="5">その他について</option>
                                        </select>
                                    </th>

                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <p class="error_message6">※選択してください。</p><!-- やま jsエラーメッセージ -->
                                    </th>
                                </tr>

                                <tr>
                                    <th>お問い合わせ内容 <font color="red">*</font>：</th>
                                    <th>
                                        <font color="#85858"><textarea class="tekisuto3" name="example2" cols="47" rows="8"
                                                wrap="soft">

    記入してください。

    #ハッシュタグ
                                    </textarea></font>
                                        </p>
                                    </th><!-- インデント気持ち悪いけど変えないで… placeholdeきかない…-->
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <p class="error_message">※1000文字以内で入力してください。</p><!-- やま jsエラーメッセージ -->
                                    </th>
                                </tr>

                            </table>
                            <br>
                            <p class="button6"><button type="submit" class="black_button4"
                                    onclick="location.href=''">決定</button></p>
                            <br>
                        </form>
                </section>

                </div>

                </div>

                <noscript>
                    <p>JavaScriptを有効にしてください。</p>
                </noscript>
        </article>

                <footer>
                    <br>
                    <br>
                    <div class="footer_text1">
                        <table class="footer_text">
                            <tr>
                                <td>
                                    <p><a href="faq.html">よくある質問　</a></p>
                                </td>
                                <td>
                                    <p><a href="privacy_policy.html">プライバシーポリシー　</a></p>
                                </td>
                                <td>
                                    <p><a href="site_policy.html">サイトポリシー</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>

                    <br>
                    <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>

                </footer>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
        <script>
            bubbly({
                blur: 5,
                bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.1})`,
                canvas: document.querySelector("#back"),
                colorStart: '#fff',
                colorStop: '#fff',
                compose: 'source-over',
                shadowColor: '#ffffef',
                velocityFunc: () => Math.random() * 1.4,
                radiusFunc: () => 3 + Math.random() * 20,
            });
        </script>
        </script>
    </body>

</html>