<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train-express</title>
</head>
<body>
    <h1>INSERT</h1>
    <form method="POST" action="/database/insert_commit">
    id:<input type="text" name="id" value=""><br>
    name: <input type="text" name="name" value="">
    <input type="submit">
    </form>
    <br>
<a href="/database/select/">MySQL Select</a>
<a href="/database/insert/">MySQL Insert</a>
<a href="/database/update/">MySQL Update</a>
<a href="/database/delete/">MySQL Delete</a>
</body>
</html>

<!--これはサンプルコード-->