@charset "utf-8";

body {

	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #ffffff;
	/* いつか使うかも */
	/* background-image: url(../images/back3.jpg); */
	background-size: 100%;
	background-attachment: fixed;
	display: flex;
	
	
}

a {
	text-decoration: none;
}
a:hover img {
	opacity: 0.8;
}
.header {
	width: 100%;
	height: 100px;
	/* いつか使うかも */
	/* display: flex; */
	align-items: flex-start;
	
	
	/*親要素の高さと同じになってしまった子要素の高さを元に戻す*/
	justify-content: flex-end;
}
.header_logo {
	width: 15%;
	height: 15%;
	text-align: left;


	margin-right: auto;

}
.header_logo img {
	width: 100%;
	height: auto;
	text-align: left;
	margin-right: auto;

}


/* .header img {
	width: 100%;
} */

.use__img{
	margin-left: 90%;
	width: 15%;
}
.use__img img{
	width: 15%;
	margin-left: 90%;
}

.cart__img{
	margin-left: 90%;

}

.cart__img img{
	width: 80%;

}

/* 
.title {
	margin: 0 auto 20px auto;
	text-align: center;
	font-size: 30px;
	letter-spacing: 10px;
	font-weight: bold;
} */
.box_wrapper {
	
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
	
	border-radius: 20px;

}
.box_item {
	/* 素体選択、カラー選択の画像エリア */
	width: 20%;
	margin: 20px;
	/* position: relative; */
	border: 1px solid #4e4e4e;
	border-radius: 20px;
	/* margin: 0; */
	padding: 1%;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2); 
	/* box-shadow: 15px 15px 0px 0 rgb(78, 78, 78); */

	/* padding-right: 5%; */
}
.box_item h3 {

	font-size: 16px;
	/* margin: 0; */
	padding: 2%;
}

.box_item p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.box_item a {
	color: #333;
}
.box_item a:hover {
	color: #cccccc;
}
.box_item img {
	/* 素体選択、カラー選択画像 */
	width: 100%;
	border-radius: 20px;
	border: 1px solid #4e4e4e;
}

.image_wrapper1 img{
	width: 20%;
	padding: 0;
}

hr {
	/* タイトルの下の線 */
	height: 1.5px;
	width: 30%;
	background-color:black;
	border: none;
	}


.iro3{
	color:#000;
}

.iro6{
	color:#000;
	text-align:center
}

.contents {
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}





/* ハンバーガーメニュー */
#nav1:checked ~ .contents {
	transform: translateX(250px);
}

#nav1 {
	display: none;
}
label {
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
}
.open {
	z-index: 2;
	width: 48px;
	height: 48px;
	background: #474747;
	transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before,
.open::after {
	content: "";
}
.open span,
.open::before,
.open::after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	right: 30%;
	width: 40%;
	border-bottom: 2px solid #FFFFFF;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* ユーザーアイコン指定 */
.open::before {
	transform: translateY(-8px);
}
.open::after {
	transform: translateY(8px);
}
.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}
#nav1:checked + .open {
	/* ハンバーガーopen */
	background: #474747;
	transform: translateX(-250px);
}
#nav1:checked + .open span {
	transform: scaleX(0);
}
/* 真ん中 */
#nav1:checked + .open::before {
	transform: rotate(45deg);
}
#nav1:checked + .open::after {
	transform: rotate(-45deg);
}


#nav1:checked ~ .close {
	pointer-events: auto;
	background: rgba(0,0,0,.5);
}
.menu {
	z-index: 1;
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	width: 250px;
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: #0000001a;
	transform: translateX(100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2,
.menu a {
	color: #FFFFFF;
}
.menu  h2 {
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu li {
	font-size: .8em;
	line-height: 1.4;
	list-style: none;
}
.menu li:not(:first-child) {
	border-top: 1px solid rgba(255,255,255,.4);
}
.menu a {
	display: block;
	padding: 1em 2em;
	text-decoration: inherit;
}
.menu a:hover {
	/* マウスを乗せたとき */
	background: #414141;
}
#nav1:checked ~ .menu {
	transform: none;
}

header,
footer {
	box-sizing: border-box;
	text-align: center;
}
header .logo,
footer .copyright {
	margin: 0;
	color: #000000;
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 100%;
	line-height: 150px;
	letter-spacing: .1em;
}
header {
	position: relative;
	margin-bottom: 40px;
}
footer {
	background: rgba(255,255,255,.6);
}
footer small {
	font-size: 1em;
}


/* bodyの中のコンテンツ */
article {
	width: 100%; 
	margin: 0 auto 20px;
	padding: 0 15%;
	max-width: 100%;
	box-sizing: border-box; 

}
article h5{
	text-align: left;
}

section {
	margin: 4em 0;
}
section h2 {
	margin: 0 0 .6em;
	text-align: center;
}
figure {
	position: relative;
	margin: 0;
	padding-bottom: 3.6em;
}
figure img {
	max-width: calc(100% - 10px);
	margin-bottom: .8em;
	padding: 5px;
	vertical-align: middle;
	background: rgba(255,255,255,.6);
}
figcaption {
	font-size: .8em;
}
section .btn {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 2em;
	text-align: center;
	text-decoration: inherit;
	/* transition: background .3s; */
}

section .btn:hover {
	background:#000 ;
}
.slider {
	height: 600px;
	width: 100%;
}
.slide-wrap{
	display:-webkit-box;
	display:-ms-flexbox;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	/* -ms-scroll-chaining: touch; */
	scroll-snap-type: x mandatory;
	padding:0 0 1em;
	margin:0 0 2em 0;
	scroll-behavior: smooth;

}

.flex {

	display: flex;
	align-items: center;
}

.flex>h2{
	display:inline-block;
}

.flex>p{
	width: 49%;
	display:inline-block;

}

.img1{
	width: 40%;
	height: auto;  
	text-align: 0 0 50px;
}



.img3{

	width: 20%;
	height: auto;
	margin: 0 auto;

}

.img4{

	width: 25%;
	height: auto;
	margin: 0 auto;

}

/* .screen and (max-width: 100px){
	
} */

.slide-wrap .slide-content {
	flex: 0 0 88%;
	margin: 0px 5px;
	scroll-snap-align:center;
}


.under {
	text-decoration: underline;
	color: #3a3a3a;
}


#pagetop:hover {
	background: #ffffff;
	color: #474747;
}
#pagetop {
	position: fixed;
	right: 100px;
	bottom: 30px;
	font-size: 2rem;
	line-height: 2rem;
	background: #020202;
	color: #ffffff;
	padding: 10px;
	border: solid 1px;
	border-radius: 50%;
}

.header-contents{
	display: inline-block;      /* インラインブロック要素にする */
    padding: 50px;
}
.search_container{
    /* 検索エリア */
    position: relative;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 3px 10px;
    border-radius: 5px;
    height: 2.3em;
    width: 265px;
    overflow: hidden;
	margin-left: 70%;
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #000;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right:0px;
    top: -5px;
    outline : none;
}
/* カートアイコン */
.cart-icon{
    /* position: absolute; */
	position: relative;
	/* text-align: right; */
	margin-left: 73%;

}
.cart-icon img{
	height: 3.5em;
	width: 3.5em;
}

.img_area2 {
	/* フィルター選択　画像エリア */
	margin: 15%;
	margin-bottom: 18px; 
	padding:4%; 
	border : solid 1px;
	text-align: center;
	border-radius: 10px; 
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);

}

.img_area3 {
	/* フィルター選択　画像エリア */
	
	margin-bottom: 18px; 
	padding:3%; 
	border : solid 1px;
	text-align: center;
	border-radius: 10px; 
	
	
}

.img_area4 img{
	/* フィルター選択　画像 */
	border : solid 1px;
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 10px; 
	
	/* box-shadow: 15px 15px 0px 0 rgb(78, 78, 78); */
	/* border : solid 1px; */
}

.filter{
	padding-top: 0;
	
	padding-right: 40px;
}
.filter img{
width: auto;

}

.hr2{
	width: 100%;
	height: 1px;

}

body.hr3{
	width: 100%;
	height: 1px;

}

body{
	font-family:'メイリオ', 'Meiryo', sans-serif;
}

.img_area {
	/* カラー選択　画像エリア */
	/* margin-bottom: 18px; */
	/* padding:2px; */
	/* border : solid 1px; */
	text-align: center;
	/* border-radius: 20px; */
}
.img_area img{
	/* カラー選択　画像 */
	width: 50%;
	height: auto;
	text-align: center;
	border-radius: 10px;
	/* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2); 影　 */
	/* box-shadow: 15px 15px 0px 0 rgb(78, 78, 78); */
	border: 1.5px solid #4e4e4e;
	

}
.object{
	/* カラー選択 */
	margin: 50px;
	padding-left: 20%;
	padding-right: 20%;
}
.object_name{
	/* カラー選択 素体名*/
	float: left;
}
.color{
	/* カラー選択 カラーピッカー*/
	float: right;
}
.bottom{
	/* ボタン */
	margin: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

.back{
	/* 戻るボタン */
	float: left;
}

.select{
	/* 進む系ボタン */
	float: right;
}
.search_container{
	/* 検索エリア */
position: relative;
box-sizing: border-box;
border: 2px solid #000;
padding: 3px 10px;
border-radius: 5px;
height: 2.3em;
width: 265px;
overflow: hidden;
}

.search_container input[type="text"]{
border: none;
height: 2.0em;
}

.search_container input[type="text"]:focus {
outline: 0;
}

.search_container input[type="submit"]{
	cursor: pointer;
	font-family: FontAwesome;
	border: none;
	background: #000;
	color: #fff;
	position: absolute;
	width: 3.5em;
	height: 3.0em;
	right:0px;
	top: -5px;
	outline : none;
}

/* 作品設定 */

.form1{
padding-left:15% ;
padding-right: 15%;	
}

h2{
text-align:center;
}

hr {
height: 1.5px;
width: 30%;
background-color:black;
border: none;
}

.wrapper {
	width: 500px;
	margin: auto;
	padding: 50%;
	background: #ffffff;
}

.name_input {
	color: #6e6e6e;
	width:300px;
	padding:10px;
	font-size:16px;
	border:solid 1px #6e6e6e;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

.textarea {
	width:400px;
	height: 200px;
	padding:10px;
	font-size:16px;
	border:solid 1px #6e6e6e;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.submit_btn {
	width:100px;
	height: 30px;
	font-size:16px;
	color: #6e6e6e;
	border:solid 1px #6e6e6e;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	background-color: #fff;
	margin-left: auto;
}

.btn {
	width: 600px;
	margin-top: 40px;
	text-align: left;
	margin-left: auto;
}

dl {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	margin-right: 10%;
	margin-left: 10;
}
dt, dd {
	display: table-cell;
	vertical-align: middle;
}
dt {
	width: 200px;
}


/* 検索エラー */


.error_message_area{
	border : solid 1px;
	width: 100%;
	padding: 0%;
	margin-top: 5%;
	height: auto;
	text-align: center;
	border-radius: 10px; 
	border-color: #ff6363;
}

.error_title {
	text-align: center;
	color: #ff6363;

}






.box09{
    width: 100%;
    max-width: 900px;
	min-width: 600px;
    margin: 0 auto;
	margin-top: 30px;
    color: #707070;/*フォントカラー */
    border: 3px solid; /*四角い枠*/
    border: solid 3px #000000;  /*枠のカラー*/
    border-radius: 10px;    /*枠の丸み*/
    /* background-color: #fd0000; */
}

.box09 h3{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    color: #707070;
    /* background-color: #ff0088; */
}

.box09 h4{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    color: #707070;
    /* background-color: #ff0088; */
}

.box09 h3 hr{
    height: 1px;/* hrの線の太さ */
    width: 20%;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.box09 h4 hr{
    height: 1px;/* hrの線の太さ */
    width: 30%;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}


.login_error_box{
    width: 70%;
    margin: 0 auto;
    color: #fd0000;/*フォントカラー */
    border: 3px solid; /*四角い枠*/
    border: solid 3px #fd0000;  /*枠のカラー*/
}
.login_error_box p{
    text-align: center;
    font-size: 13px;
}

/*                input系                          */
.login_input{
    margin-top: 50px;
}

.login_input input[type=text],input[type=password],input[type="email"]{
    height: 20px;
    width: 300px;
    border-radius: 6px;
}


.login_input2 input[type="number"]{
	height: 100px;
    width: 300px;
	font-size: 100px;
	text-align: center;
}

.input_center{
    text-align: center;
    font-size: 16px;
}

/*               エラーコード系                       */
/*新規登録ページ*/
.new_error{
    line-height: 3px;/*errorの行間　改行時16px　pタグ単体3px*/
}

p.new_warning{
    font-size: 13px;
    color: #000;
	padding-left: 158px;
}

/*mail確認ページ*/
.mail_error{
    line-height: 3px;/*errorの行間　改行時16px　pタグ単体3px*/
    
}

.password_update_error{
    line-height: 3px;/*errorの行間　改行時16px　pタグ単体3px*/
}

.error_message{
    font-size: 13px;
    color: #fd0000;
	padding-left: 133px;
	
}

.error_message2{
    font-size: 13px;
    color: #fd0000;
	padding-left: 115px;
	
}

.error_message3{
    font-size: 13px;
    color: #fd0000;
	padding-left: 182px;
	
}

.error_message4{
    font-size: 13px;
    color: #fd0000;
	padding-left: 215px;
	
}
/* 確認コードのエラー */
.error_message5{
    font-size: 13px;
    color: #fd0000;
	line-height:20px;
	/* padding-right: 225px; */
	
}


/*                ボタン系                         */
.button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.double_button{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.double_button button:first-of-type{
    margin-right: 100px;
}

.black_button{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #000;/* ボタンの色 */
    color:#fff;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.white_button{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #fff;/* ボタンの色 */
    color:#000;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}




.login_link{
    font-size: 12px;
    text-align: right;
    margin: 30px 20px 10px 0px;
}

.report_txt{
    text-align: center;
    margin-top: 70px;
}

.report_txt p{
    font-size: 20px;
}


/* ポップアップ */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}

.popup.is-show {
    opacity: 1;
    visibility: visible;
}

.popup-inner {
	border-radius: 10px ; /*四角い枠*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    z-index: 2;
}

.popup-inner img {
    width: 100%;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.close-btn i {
    font-size: 20px;
    color: #333;
}

.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
}


/*                 cartページ                   */

.black_button3{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #000;/* ボタンの色 */
    color:#fff;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.white_button3{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #fff;/* ボタンの色 */
    color:#000;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 150px;/* ボタンの長さ */
}

.button5{
	text-align: right;
	padding-right: 13%;
}


.h3_center{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_center hr{
    height: 1px;/* hrの線の太さ */
    width: 130px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.cart_hr{
    height: 2px;/* hrの線の太さ */
    width: 75%;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    /* margin-top: -2px; */
}

.cart_flex{
    margin: 0% 20%;
	
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    /* background-color: #ff0088; */
}

.cart_flex2{
    margin: 0% 14%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    /* background-color: #ff0088; */
}

.cart_flex3{
	margin: 0% 14%;
    /* padding-left: 40%;
	padding-right: 5; */
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    /* background-color: #ff0088; */
}

.cart_item_flex{
    
    margin: 0% 15%;
    display: flex;
    justify-content: space-between;
    /* background-color: #ff0088; */
}

.cart_image{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    /* background-color: #ff0088; */
}

.cart_image img{
    
    width: 20%;
    height: 70%;
    margin-top: 2%;
	border-radius: 10px;
	border: 1px solid rgb(0, 0, 0);
}

.cart_item_detail{
    max-width: 960px;
    width: 30%;
    height: 100%;
    padding-left: 5%;
}

.cart_item_detail p{
    font-size: 12px;
	text-align: left;
}

.cart_item_kazu{
    margin-top:  5%;
    /* background-color: #ff0088; */
}

.total{
    margin-top:  15%;
    margin-left: 33%;
}

.total5{
    margin-top:  15%;
    margin-left: 25%;
}


.cart_item_kazu input[type=number]{
    width: 70px;
    height: 30px;
}

.cart_item_kazu p{
    text-align: center;
    /* background-color: #ff0088; */
}

.cart_flex p:nth-of-type(2n){
    margin-left: 20%;
}

.cart_flex2 p:nth-of-type(2n){
    margin-left: 16%;
}

.cart_flex3 p:nth-of-type(2n){
    padding-left: 16%;
}



.total2{
	padding-left:5%
}
.total3{
	padding-left:5%
}

.count1{
	padding-left: 58%;
}
.h3_center2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_center2 hr{
    height: 1px;/* hrの線の太さ */
    width: 230px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}
/*                    住所選択                  */
.h3_address_title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_address_title hr{
    height: 1px;/* hrの線の太さ */
    width: 170px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.address_input{
    width: 550px;
    /* min-width: ; */
    margin: 0 auto 30px auto;
    /* background-color: #ff0088; */
}

.address_input table{
    border-spacing: 0;
}
.address_input td{
    padding: 10px;
    /* background-color: #ff0088; */
}
.address_input th{
    padding: 15px;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    width: 8em;
}

.address_select_center_hr{
    height: 1px;/* hrの線の太さ */
    width: 600px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
}

.address_input input[type=text]{
    height: 20px;
    width: 100%;
    border-radius: 6px;
}

.mati_select{
    height: 26px;
    width: 70%;
    border-radius: 6px;
    border: solid 2px;
}

.address_box{
    width: 600px;
    max-width: 900px;
    /* margin-top: 18px; */
    color: #707070;/*フォントカラー */
    border: solid 2px #000000;  /*枠のカラー*/
    border-radius: 10px;    /*枠の丸み*/
    /* background-color: #fd0000; */
}


.address_box table{
    border-spacing: 0;
}

.address_box td{
    padding: 5px;
}

.address_box th{
    padding: 5px 20px 5px 10px;
    text-align: right;
    font-weight: normal;
    vertical-align: top;/*ようわからん奴*/
    /* width: 8em; */
}

.select_address{
    width: 700px;
    margin: 30px auto;

}


.address_sub_title{
    font-size: 16px;
    /* background-color: #fd0000; */
}

/*            お問い合わせ送信完了               */
.inquiry_title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 80px;
    color: #707070;
}

.inquiry_title hr{
    height: 1px;/* hrの線の太さ */
    width: 220px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.inquiry_setting table{
    border: solid 2px #707070;
}



.inquiry_setting th{
    background-color: #cccccc;
}

.inquiry_table_middle{
    height: 70px;
    width: 370px;
    text-align: center;
}

.inquiry_table_td{
    height: 70px;
    width: 150px;
    text-align: center;
}

.inquiry_table_middle select,input[type="date"] {
    height: 30px;
    width: 130px;
}

.inquiry_setting table{
    margin: 0 auto;
}

/* 購入確認 */
.purchase_box2{
    width: 100%;
	min-width: 530px;
    color: #707070;/*フォントカラー */
    border: solid 2px #000000;  /*枠のカラー*/
    border-radius: 10px;    /*枠の丸み*/
	text-align: left;
}

.purchase_area{
	padding-right: 5%;
	padding-left:70%;
}

.purchase_2{
    width: 78%;
	margin: 10px auto;
	padding-left: 7%;

}

.double_button{
    /* text-align: center; */
    margin-top: 40px;
    margin-bottom: 30px;
}

.white_button2{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #fff;/* ボタンの色 */
    color:#000;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.double_button2 button:first-of-type{
    margin-right: 200px;
}

.black_button2{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #000;/* ボタンの色 */
    color:#fff;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.subtitle{
	text-align: left;
	padding-left: 15%;
}

/* 購入完了 */

.h3_center3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_center3 hr{
    height: 1px;/* hrの線の太さ */
    width: 480px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

/* 作者ページ */
.user_img{
	text-align: left;
	margin-top: 0%;
	padding-right: 20%;
}

.user_img img{
	width: 100px;
	height: 100px;
	padding-right: 10px;

}

.user_box{
    width: auto;
    margin-top: 18px;
    color: #707070;/*フォントカラー */
	margin: 0 auto;
	text-align: left;
}

.user_2{
    width: 78%;
	margin: 0 auto;
	/* text-align: left; */
	/* padding-right: 70%; */
	float: left;

}

.star {
	font-size: 60px;
	margin: auto;
	color: rgb(255, 251, 0);
	padding-left: 10px;
	transition: all 0.6s ease 0s;
}

.star:hover {
	cursor: pointer;
	transform: translateY(-10px);
	/* transform: scale(1.1,1.1); */
	
}

.star_1 {
	font-size: 60px;
	margin: auto;
	color: rgb(255, 251, 0);
	padding-left: 10px;
	transition: all 0.6s ease 0s;
}

.star_1:hover {
	cursor: pointer;
	transform: translateY(-10px);
	/* transform: scale(1.1,1.1); */
	
}

.td2{
	
	text-align: right;
	margin: auto;
	line-height: 35px;
	padding-top: 5%;
	padding-bottom: 100px;
	
}
.favorite{
	text-align: right;
	margin: auto;
	padding-right: 15px;
}
.userid{
	font-size: 10px;
	margin: auto;
	line-height: 15px;
}
.username{
	margin: auto;
	line-height: 10px;
	padding-top: 40px;
	
}
.userpage{
	justify-content: space-between;

}
.hr3{
	margin-top: 0%;
	height: 0.5px;
	line-height: 10px;

}
.senn{
	line-height: 1px;
	font-size: 20px;
}
.explanation{
	text-align: left;
}

.star2{
	text-align: right;
	font-size: 30px;
	line-height: 15px;
	transition: all 0.6s ease 0s;
}

.star2:hover{
	cursor: pointer;
	transform: translateY(-10px);
}

.date1{
	text-align: right;
}

.favorite2{
	text-align: right;
	line-height: 15px;
	margin-right: 50px;

}

.favorite3{
	text-align: right;
	line-height: 15px;
	margin-right: 13px;
}

.box_wrapper_2 {
	
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
	
	border-radius: 20px;

}
.box_item_2 {
	width: 20%;
	min-width: 215px;
	/* border: 0.5px solid #4e4e4e; */
	/* 相談 */
	/* background-color: #f700ff; */
	border-radius: 20px;
	padding: 1%;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2); 
	transition: all 0.6s ease 0s;
}

.box_item_2:hover{
	cursor: pointer;
	transform: translateY(-15px);
}

.box_item_2 h3 {

	font-size: 16px;
	padding: 2%;
}

.box_item_2 p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.box_item_2 a {
	color: #333;
}
.box_item_2 a:hover {
	color: #cccccc;
}
.box_item_2 img {
	width: 100%;
	border-radius: 20px;
	/* border: 1px solid #4e4e4e; */
}

/* お気に入り作品リスト */

.h3_center4{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_center4 hr{
    height: 1px;/* hrの線の太さ */
    width: 350px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.user_img2{
	text-align: left;
	margin-top: 0%;
	padding-right: 20%;
}

.user_img2 img{
	width: 50px;
	height: 50px;
	border: none;

}

.user_box_1{
    width: auto;
    color: #707070;/*フォントカラー */
	margin: 0 auto;
	text-align: left;
	margin-top: -15px;
}

.user_3{
	margin-top: -100px;
    width: 78%;
	margin: 0 auto;
	float: left;

}

.image_wrapper img{
	width: 100%;
	padding: 0;
	/* border: 1px solid #4e4e4e; */

}

.userid2{
	font-size: 10px;
	margin: auto;
	line-height: 15px;
}

/* 	作品詳細　*/

.box_item_3 {
	width: 60%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 20px;
	padding-right: 5%;
	padding-left: 5%;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2); 

}
.box_item_3 h3 {

	font-size: 20px;

}

.box_item_3 p {
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.box_item_3 a {
	color: #333;
}
.box_item_3 a:hover {
	color: #cccccc;
}
.box_item_3 img {
	width: 100%;
	border-radius: 20px;
	/* border: 1px solid #4e4e4e; */
}

.tannka{
	text-align: right;
	line-height: 15px;
	margin: auto;
}
.sakuhinnmei{
	text-align: left;
	line-height: 15px;
}

.explanation2{
	text-align: left;
	font-size: 5px;
	line-height: 15px;
}

.explanation3{
	text-align: left;
	font-size: 5px;
	line-height: 15px;
	word-break: break-all;

}

.okiniiri{
	width: auto;
	text-align: center;
	
}

.cart_img img{
	width: 60px;
	opacity: 0.7;
	
}
.cart_img{
	text-align: right;
	margin: auto;

}

.cart_img{
	text-align: right;
	transition: all 0.6s ease 0s;

}

.cart_img2{
	text-align: right;
	margin: auto;

}

.cart_img:hover{
	cursor: pointer;
	transform: translateY(-5px);
}

.tannka_table{
	text-align: right;
	padding-left: 70%;
}

.black_button4{
    font-size: 13px;
    border-radius: 6px;/* ボタンの角丸 */
    background-color: #000;/* ボタンの色 */
    color:#fff;/* ボタンの文字色 */
    height: 32px;/*ボタンの細さ*/
    width: 110px;/* ボタンの長さ */
}

.button6{
	text-align: center;
}

.star2_1{
	text-align: right;
	font-size: 30px;
	line-height: 15px;
	transition: all 0.6s ease 0s;
}

.star2_1:hover{
	cursor: pointer;
	transform: translateY(-10px);
}

.tuuhou{
	text-align: left;
	margin: auto;
}

.tuuhou:hover{
	opacity: 0.5;
}

.setumei{
	word-break: break-all

}


.btn_custmize{
	margin: 0 auto;
	width:130px;
	height:130px;
	border-radius:100%;
	color: rgb(255, 255, 255);
	background: #000000;
	transition: all 0.6s ease 0s;
	
}

.btn_custmize:hover{
	margin: 0 auto;
	width:130px;
	height:130px;
	border-radius:100%;
	color: #000;
	background: #6b6b6b;
	
}

.btn_custmize1{
	margin-top: 70px;
	line-height:130px;
	color: #fff;
}


	
.pagination{
    text-align: center;
    font-size: 18px;
    margin: 75px 0;
    /* background-color: #707070; */
}

.pagination_nau{
    color: #565656;
    text-decoration: underline/*文字下に線*/
}
.example li {
    display:inline;
    padding-left: 5px;
}

.example li a{
    color: #3f59ff;
    text-decoration: none;/* aタグの文字下の線無効化 */
}

/*                アイコン設定                  */
.icon_setting_title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 60px;
    color: #707070;
}

.icon_setting_title hr{
    height: 1px;/* hrの線の太さ */
    width: 280px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

#dragDropArea{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    border: solid 2px #707070;
    border-radius: 50%;
}


.icon_txtimg{
    width: 50%;
	margin: 0 auto;
	margin-top: 100px;
	opacity: 0.7;
	
    /* background-color: #707070; */
}

.defo_image {
	width: 20%;
	opacity: 0.4;
}

.icon_txtimg p{
    font-size: 18px;
}

.file_button{
    text-align: right;
    margin-top: -7px;
    /* background-color: #ff0088; */
    /* padding-right: 10%; */

}

.boxarea{
    margin: 0 auto;
    /* padding-left: 20%;
    padding-right: 20%; */
    max-width: 800px;
}


/*                      お気に入り作者リスト                 */
.creator_list_title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 60px;
    color: #707070;
}

.creator_list_title hr{
    height: 1px;/* hrの線の太さ */
    width: 330px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.creator_box_list1{
    width: 70%;
    min-width: 500px;
    max-width: 800px;
    margin: 20px auto 0 auto;
    /* background-color: #ff0088; */
}

.creator_box_list1 a{
    color: inherit;/* aタグ文字色無効化リンクは生きてる */
    text-decoration: none;/* aタグの文字下の線無効化 */
}

.favorite_creator_detail{
    width: 110px;
    /* background-color: #F15B47; */
}

.creator_icon_area{
    width: 100%;
    height: auto;
    /* background-color: #31c708; */
}

.creator_icon_image{
    width: 100%;
    height: auto;
}

.favorite_creator_name_id{
    margin-top: 0px;
    font-size: 12px;
    color: #707070;
    text-align: center;
    line-height: 1;
}

.favorite_creator_txt{
    width: 100%;
    word-break: break-all;
    /* background-color: #0091f8; */
}

.favorite_creator_Separation{
    height: 1px;/* hrの線の太さ */
    width: 70%;/* hrの線の長さ */
    max-width: 900px;
    background-color: #707070;
    border: none;
}

.favorite_creator_Separation2{
    height: 1px;/* hrの線の太さ */
    width: 100%;/* hrの線の長さ */
    /* max-width: 1200px; */
    background-color: #707070;
    border: none;
}

.example li {
    display:inline;
    padding-left: 5px;
}

.example li a{
    color: #858585;
    text-decoration: none;/* aタグの文字下の線無効化 */
}

.list_change{
    width: 70%;
    text-align:right;
    margin: 0 auto;
    /* background-color: #707070; */
}

.list_change_image{
    width: 40px;
    height: auto;
}

.creator_box_wrapper {
    width: 65%;
    max-width: 800px;
    margin: 20px auto 0 auto; /*上右下左*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #e9009b; */
}

.check{
	text-align: right;
}


.check3{
	padding-left: 1000px;
}

.button_table{
	margin: 0 auto;

}


.box_item_4 {
	width: 45%;
	min-width: 600px;
	
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 20px;
	padding-right: 5%;
	padding-left: 5%;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2); 

}
.box_item_4 h3 {

	font-size: 20px;

}

.box_item_4 p {
	font-size: 15px;
	margin: 0;
	padding: 0;
}
.box_item_4 a {
	color: #333;
}
.box_item_4 a:hover {
	color: #cccccc;
}
.box_item_4 img {
	width: 100%;
	border-radius: 20px;
}

.setumeitable{
	margin: 0 auto;
	line-height: 70px;
}

input[type="text"] {
    word-wrap: break-word;
    word-break: break-all;
}
.tekisuto3{
	border-radius:10px;
	border: solid 1px;
	width: 400px;
	
}

.tekisuto2{
	margin: 10px;
}

.setumeitable2{
	text-align: left;
	margin: 0 auto;
	line-height: 30px;
	table-layout: fixed;
}

.toiawase_select{
    height: 33px;
    width: 100%;
    border-radius: 10px;
    border: solid 1px;
}
th {
	font-weight: normal
}

.error_message6{
    font-size: 13px;
    color: #fd0000;
	word-wrap: break-word;
    word-break: break-all;

	
}

.otoiawase{
	width: 800px;
}

.tekisuto{
	border-radius:10px;
	border: solid 1px;
	width: 400px;
	
}
.h3_center4{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #707070;
}

.h3_center4 hr{
    height: 1px;/* hrの線の太さ */
    width: 350px;/* hrの線の長さ */
    background-color: #707070;
    border: none;
    margin-top: -2px;
}

.image_wrapper5 img{
	width: 50%;
	padding: 0;
}
.image_wrapper6 img{
	width: 10%;
	text-align: right;
	padding-right: 25%;
}

.image_wrapper6 {
	text-align: right;
	margin-top: -7%;
}

.image_wrapper7 img{
	width: 50%;
	padding: 0;
	opacity: 0.5;
}
