.header {
	width: 100%;
	height: 150px;
	align-items: flex-start;
	justify-content: flex-end;
}
.logo {
	width: 20%;
	height: 20%;
	text-align: left;
	margin-right: auto;
}
.logo img {
	width: 100%;
	height: auto;
	text-align: left;
	margin-right: auto;
}
.headernakami {
	margin-right: 10px;
}
.toptable {
	margin: 0 310px 0 auto;
	text-align: left;
	margin-top: -80px;
}

.carticon15 {
	width: 45px;
	margin: 0 80px 35px auto;
	transition: all 0.6s ease 0s;
}

.carticon15:hover {
	cursor: pointer;
	transform: translateY(-5px);
}

.carticon15 img {
	width: 100%;
}

.cartsuuji {
	margin: 0 65px 0 auto;
	text-align: right;
	margin-top: -40px;
}
