<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
</head>
<header class="header">

  <div class="header_logo">
    <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
  </div>

  <!-- 検索ボックス -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <span class="magnifying_glass"></span>
  <form method="get" action="#" class="search_container">
    <input type="text" size="25" placeholder="キーワード検索">
    <input type="submit" value="&#xf002">
  </form>

  </div>


  <body>

    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>


    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

      <article>
        <div class="box09">
          <div class="report_txt">

            <h4>確認コードの入力
              <hr>
            </h4>
            <p>入力されたメールアドレスに<br>確認コードをお知らせする４桁の数字を送信しました。</p>
            <form action="" method="post" id="hoge">
              <div class="login_input2">
                <div class="input_center">
                  <p><input type="tel" maxlength="1" size="1" id="isFirst"><input type="tel" maxlength="1"
                      size="1"><input type="tel" maxlength="1" size="1"><input type="tel" maxlength="1" size="1"
                      id="isLast"></p>
                </div>
                <div class="mail_error">
                  <p id="" class="error_message5"></p>
                </div>
              </div>
            </form>


          </div>

          <div class="button">
            <!-- 閉じるボタン（ポップアップ閉じるボタン）-->

            <button type="submit" class="white_button" onclick="changeEmailAttempt()" id="send">決定</button>
          </div>
        </div>

        <noscript>
          <p>JavaScriptを有効にしてください。</p>
        </noscript>

      </article>
      <%- include("../components/footer.ejs") %>
  </body>

  <script src="/javascripts/authorization_code_input.js"></script>

</html>