<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
</head>
<header class="header">

  <div class="header_logo">
    <%- include("../components/header.ejs") %>
  <body>
    <%- include("../components/sidemenu.ejs", {side_menu: side_menu}) %>

      <article>
        <div class="footerFixed">
        <div class="box09">
          <div class="report_txt">

            <h4>確認コードの入力
              <hr>
            </h4>
            <p>入力されたメールアドレスに<br>確認コードをお知らせする４桁の数字を送信しました。</p>
            <form action="" method="post" id="hoge">
              <div class="login_input2">
                <div class="input_center">
                  <p><input type="tel" maxlength="1" size="1" id="isFirst"><input type="tel" maxlength="1"
                      size="1"><input type="tel" maxlength="1" size="1"><input type="tel" maxlength="1" size="1"
                      id="isLast"></p>
                </div>
                <div class="mail_error">
                  <p id="" class="error_message5"></p>
                </div>
              </div>
            </form>


          </div>

          <div class="button">
            <!-- 閉じるボタン（ポップアップ閉じるボタン）-->

            <button type="submit" class="white_button" onclick="changeEmailAttempt()" id="send">決定</button>
          </div>
        </div>

      </article>
      <%- include("../components/footer.ejs") %>
  </body>

  <script src="/javascripts/authorization_code_input.js"></script>

</html>