<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
  </link>

</head>
<header class="header">
  <%- include("../components/header.ejs") %>

  <body>
        <article>
          <div class="footerFixed">

          <div class="box09">

            <!-- 入力フォーム -->
            <form action="" method="post" id="hoge">
              <div class="login_input">
                <div class="input_center">
                  <p>仮のパスワード<font color="red">*</font>　　　　　　　:　<input type="password" name="temp_password" size="35" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"></p>
                </div>
                <div class="password_update_error">
                  <p id="error_temp_password" class="error_message3"></p>
                </div>
                <div class="input_center">
                  <p>新しいパスワード<font color="red">*</font>　　　　　　:　<input type="password" name="new_password" size="35"
                      placeholder="半角英数字8文字以上15文字以内"></p>
                </div>
                <div class="input_center">
                  <p>新しいパスワード（確認用）<font color="red">*</font>　:　<input type="password" name="new_password_confirmation"
                      size="35" placeholder="半角英数字8文字以上15文字以内"></p>
                </div>
                <div class="password_update_error">
                  <p id="error_password" class="error_message3"></p><!-- やま jsエラーメッセージ -->
                </div>
              </div>

            </form>

            <div class="double_button">
              <button type="submit" class="white_button" onclick="location.href='top.html'">戻る</button>
              <button type="submit" class="black_button" onclick="resetPasswordAttempt()" id="send">決定</button>
            </div>


          </div>

        </article>
        <%- include("../components/footer.ejs") %>
  </body>
<script src="/javascripts/non_member_password_modification.js"></script>

</html>