<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../components/lib.ejs") %>
  <title>U labeler</title>
  </link>

</head>
<header class="header">
  <%- include("../components/header.ejs") %>

  <body>
        <article>
          <div class="footerFixed">

          <div class="box09">

            <!-- 入力フォーム -->
            <form action="" method="post" id="hoge">
              <div class="login_input">
                <div class="input_center">
                  <p>仮のパスワード<font color="red">*</font>　　　　　　　:　<input type="password" name="temp_password" size="35" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"></p>
                </div>
                <div class="password_update_error">
                  <p id="error_temp_password" class="error_message3"></p>
                </div>
                <div class="input_center">
                  <p>新しいパスワード<font color="red">*</font>　　　　　　:　<input type="password" name="new_password" size="35"
                      placeholder="半角英数字8文字以上15文字以内"></p>
                </div>
                <div class="input_center">
                  <p>新しいパスワード（確認用）<font color="red">*</font>　:　<input type="password" name="new_password_confirmation"
                      size="35" placeholder="半角英数字8文字以上15文字以内"></p>
                </div>
                <div class="password_update_error">
                  <p id="error_password" class="error_message3"></p><!-- やま jsエラーメッセージ -->
                </div>
              </div>

            </form>

            <div class="double_button">
              <button type="submit" class="white_button" onclick="location.href='top.html'">戻る</button>
              <button type="submit" class="black_button" onclick="resetPasswordAttempt()" id="send">決定</button>
            </div>


          </div>

        </article>
        <%- include("../components/footer.ejs") %>
        <footer>
          <br>
          <br>
          <div class="footer_text1">
              <table class="footer_text">
                  <tr>
                      <td>
                          <p><a href="faq.html">よくある質問　</a></p>
                      </td>
                      <td>
                          <p><a href="/privacypolicy">プライバシーポリシー　</a></p>
                      </td>
                      <td>
                          <p><a href="/sitepolicy">サイトポリシー</a></p>
                      </td>
                  </tr>
              </table>
          </div>
          <br>
          <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
      
          <br>
          <p id="page-top"><a href="">↑</a></p>
      </footer>
      </div>
      
      <script>
          bubbly({
              blur: 5,
              bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.3})`,
              canvas: document.querySelector("#back"),
              colorStart: '#fff',
              colorStop: '#fff',
              compose: 'source-over',
              shadowColor: '#ffffef',
              velocityFunc: () => Math.random() * 1.4,
              radiusFunc: () => 3 + Math.random() * 20,
          });
      </script>
  </body>
<script src="/javascripts/non_member_password_modification.js"></script>

</html>