
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="robots" content="none,noindex,nofollow">
<meta name="description" content="ハンドメイドショップサイト">
<meta name="keywords" content="ECサイト">
<title>U labeler</title>
<link href="css/top.css" rel="stylesheet" type="text/css"></link>
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

</head>
<header class="header">

    <div class="header_logo">
        <h1><a href="template.html"><img src="images/logo.png" alt="ロゴ"></a></h1>
    </div>

<!-- 検索ボックス -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<span class="magnifying_glass"></span>
    <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
    </form>
<body>

    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>
    <nav class="menu">
        <h2 href="template.html">U labelar</h2>
        <ul>
            <li><a href="my_list.html">マイ作品リスト</a></li>
            <li><a href="my_favorite_work_list.html">お気に入り作品リスト</a></li>
            <li><a href="my_favorite_creator_list1">お気に入り作者リスト</a></li>
            <li><a href="#">購入履歴</a></li>
            <li><a href="#">会員情報</a></li>
            <li><a href="mail_address_modification.html">メールアドレス変更</a></li>
            <li><a href="member_password_modification.html">パスワード変更</a></li>
            <li><a href="#">退会</a></li>
        </ul>
    </nav>
    <article>
    <br>
    <br>

    <!-- ページ名 -->
    <h3 class="h3_center2">作品詳細設定確認<hr></h3>
            
            <section class="box_item_4">
                <br>
                <div class="userpage">
                    <div class="user_3">
                    <form action="" method="post" id="hoge">
                        <div class="user_box_1">
                            <a href=""><table cellpadding="0"　class = "usertable">
                                
                                <tr>
                                    <th rowspan="4" ><p class = user_img2><img src="images/use.png" alt="商品画像"></p></th>
                                    <td>　　　　　</td>
                                </tr>
                                <tr>    
                                    <td><p class = "username">やまだはなこ</p></td>
                                    <input type="hidden" name="">
                                    
                                </tr>
                                <tr>    
                                    <td class = "userid2">＠00000000</td>
                                    <input type="hidden" name="">
                                </tr>
                                
                                
                            </table></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class = userpage>
            </div>
                <p class = "date1">2022/02/02</p>
                <div class="image_wrapper"><img src="images/color.jpeg"  alt="" /></div>
                <form action="select_color.html" method="post">
                    
                    <p class = "tannka">単価：500円　</p>
                    <p class = "explanation">ペットボトル（500ml）</p>
                    <h3 class = "sakuhinnmei">「ひまわりのペットボトル」</h3>
                    <div class = "explanation2"><a href=""><font  size="2">#ペットボトル　＃やまおねがい　#やまおねがい</font></a></p></div>
                    <br>
                    <p class = "explanation3">ひまわりが大好きなので作りました。</p>
                    <br>
                    
                    <div class="check">
                        <input type="checkbox" class="check1" name="check" checked>公開
                    </div>
                    <div class="double_button4">
                        <table class="button_table">
                            <tr>
                                <th style = "width: 20%;"></th>
                                <th><button  type="button" class="white_button2" onclick="location.href=''">戻る</button></th>
                                <th style = "width: 30%;"></th>
                                <th><button  type="submit" class="black_button2" form=="hoge">保存</button></th>
                                <th style = "width: 20%;"></th>
                            </tr>
                        </table>
                        <br>
                        
                    </div>
                </form>
            </section>
            
        </div>
        
    </div>
        
        <noscript>
            <p>JavaScriptを有効にしてください。</p>
        </noscript> 
    </article>
    <br>
    <br>
    <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
    <br>
    <a href="customize_editing.html" id="pagetop"><i class="up"></i>↑</a>
</body>

</html>
