<footer>
    <br>
    <br>
    <div class="footer_text1">
        <table class="footer_text">
            <tr>
                <td>
                    <p><a href="/faq">よくある質問　</a></p>
                </td>
                <td>
                    <p><a href="/privacypolicy">プライバシーポリシー　</a></p>
                </td>
                <td>
                    <p><a href="/sitepolicy">サイトポリシー</a></p>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <p><span class="iro3">&copy; U labeler</span></p>

    <br>
    <p id="page-top"><a href="">↑</a></p>
</footer>


<script>
    bubbly({
        blur: 5,
        bubbleFunc: () => `hsla(${Math.random() * 350}, 90%, 50%, ${Math.random() * 0.1})`,
        canvas: document.querySelector("#back"),
        colorStart: 'rgba(250, 250, 250, 0.3)',
        colorStop: 'rgba(250, 250, 250, 0.5)',
        compose: 'source-over',
        shadowColor: 'rgba(245, 245, 245, 0.3)',
        velocityFunc: () => Math.random() * 1.4,
        radiusFunc: () => 3 + Math.random() * 20,
    });
</script>