<div class="header_logo">
    <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
</div>

<!-- 検索ボックス -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="headernakami">
    <table class="toptable" cellpadding="5">
        <tr>
            <th><span class="magnifying_glass"></span>
                <form method="get" action="/search" class="search_container">
                    <input type="text" size="25" placeholder="キーワード検索" name="q" id="searchInput">
                    <input type="submit" value="&#xf002" id="searchSubmit">
                </form>
            </th>
            </tr>
            <tr>
                <div class="carticon15">
                    <a href="/cart"><img src="/images/system/cart-5.png" alt="ロゴ"></a>
                </div>
            </tr>
        </table>
            <div class="cartsuuji">
                    <p id="currentKeepCartNum"></p>
            </div>
</div>
<script>
    const searchSubmit = document.getElementById('searchSubmit');
    // 0文字の場合は検索ボタンを無効にする
    searchSubmit.disabled = true;
    const searchInput = document.getElementById('searchInput');

    // searchInputの中に文字が無ければ検索ボタンを無効にする
    // 200msごとに判定する
    setInterval(() => {
        if (searchInput.value.length === 0) {
            searchSubmit.disabled = true;
        } else {
            searchSubmit.disabled = false;
        }
    }, 200);

    // focusがsearchInputに当たっている場合、Enterを押したら検索ボタンを押す
    searchInput.addEventListener('keydown', function (e) {
        if (e.keyCode === 13) {
            searchSubmit.click();
        }
    });

    const currentKeepCartNum = document.getElementById('currentKeepCartNum');

    window.addEventListener('load', async () => {
        // カート数を取得
        const currentCartNum = await axios.post('/api/util/cartCount');
        console.log(currentCartNum.data);
        if (currentCartNum.data !== 0) {
            currentKeepCartNum.innerText = currentCartNum.data;
        }
    });

    function addCart(id) {
        axios.post("/api/util/cartAdd", {
            workId: id
        })
            .then(async function (response) {
                console.log(response);
                if (response.data) {
                    const currentCartNum = await axios.post('/api/util/cartCount');
                    console.log(currentCartNum.data);
                    if (currentCartNum.data !== 0) {
                        currentKeepCartNum.innerText = currentCartNum.data;
                    }
                    alert('カートに追加しました');
                }
            })
            .catch(function (error) {
                // 403エラーの場合Alertを出す
                if (error.response.status === 403) {
                    alert('ログインしてください');
                }
            });
    }
</script>
<noscript>
    <p>JavaScriptを有効にしてください。</p>
</noscript>