<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="none,noindex,nofollow">
  <meta name="description" content="ハンドメイドショップサイト">
  <meta name="keywords" content="ECサイト">
  <title>U labeler</title>
  <link href="/stylesheets/top.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  </link>

</head>
<header class="header">

  <div class="header_logo">
    <h1><a href="/"><img src="/images/system/logo.png" alt="Ulabeler"></a></h1>
  </div>

  <body>

    <input type="checkbox" id="nav1">
    <label for="nav1" class="open"><span></span></label>
    <label for="nav1" class="close"></label>


    <%- include("./login.ejs") %>
    <%- include("./sidemenu.ejs", {side_menu: side_menu}) %>

      <article>
        <div class="box09">
          <div class="report_txt">
            <p><%- message %> </p>
          </div>

          <div class="button">
            <!-- 閉じるボタン（ポップアップ閉じるボタン）jsページ -->
            <button id="" class="white_button">閉じる</button>
          </div>
        </div>

        <noscript>
          <p>JavaScriptを有効にしてください。</p>
        </noscript>


      </article>
      <br>
      <p><a href="#"><span class="iro3">Copyright&copy; U labeler</span></p></a>
      <br>
  </body>

</html>