<nav class="menu">
  <h2 href="/">U labelar</h2>
  <ul>
    <% for (let i=0; i < side_menu.length; i++) { %>
      <li><a href='<%= side_menu[i].link %>' <% if(side_menu[i].title=="ログイン" ) { %>
          class="js-popup_login"
          <% } %>
            ><%= side_menu[i].title %>
        </a></li>
      <% } %>
  </ul>
</nav>